<div class="container-fluid">
    <h1>{{model.name}}</h1>
    <table class="table table-striped table-hover">
        <colgroup>
            <col width="*"/>
            <col width="150"/>
            <col width="50"/>
        </colgroup>
        <thead>
        <tr>
            <th>Product Type</th>
            <th>Product Packing</th>
            <th>Open</th>
        </tr>
        </thead>
        <tbody>
        {{#each product in model.products}}
            <tr>
                <td>
                    {{product.product_type.name}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>