<div class="container-fluid">
    <table class="table table-striped table-hover">
        <tbody>
        {{#each category in controller}}
            <tr>
                <td>
                    {{#link-to 'category' category }}
                        {{category.name}}
                    {{/link-to}}
                    <i class="fa fa-times-circle pull-right" {{action 'delete_category' category}} title="Удалить"></i>
                    <i class="fa fa-edit pull-right" {{action 'edit_category' category}} title="Редактировать"></i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <form class="form-inline pull-right">
        <!--<input ng-model="newCategory" class="form-control" placeholder="Новая категория">-->
        <!--<button ng-click="addCategory()" class="btn btn-default">Добавить</button>-->
    </form>
</div>

{{outlet}}